.header {
  min-width: 1200px;
  height: 56px;
  padding: 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color-tertiary-regular);
}

.title {
  color: var(--text-color-primary, #222529);
  font: var(--text-h6-bold);
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleContent {
  margin-left: var(--spacing-400, 16px);
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  width: 1px;
  height: 16px;
  margin-left: 24px;
  margin-right: 24px;
  background: var(--background-color-divider-regular, rgba(0, 0, 0, 0.08));
}

.icon {
  margin-left: 24px;
}
